[Unit]
Description=gunicorn daemon
Requires=gunicorn.socket
After=network.target
[Service]
User=ubuntu
Group=www-data
WorkingDirectory=/home/ubuntu/django_aws_cicd_demo
ExecStart=/home/ubuntu/env/bin/gunicorn --access-logfile - --workers 3 --bind unix:/home/ubuntu/django_aws_cicd_demo/notspam/notspam.sock notspam.wsgi:application

       
[Install]
WantedBy=multi-user.target